html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background: #070F2B;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #16537e;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

th {
    background-color: #F8F0D4;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    background-color: #535C91;
    color: #ACA36E;
}

tfoot td {
    background-color: #535C91;
    color: #ACA36E;
    font-style: italic;
    padding: 10px;
    text-align: center;
}

#capture-btn {
    position: fixed; /* Cố định vị trí */
    top: 20px; /* Cách trên 20px */
    right: 20px; /* Cách phải 20px */
    z-index: 1000; /* Đảm bảo nút luôn hiển thị trên các phần tử khác */
    padding: 10px 20px; /* Thêm padding để nút đẹp hơn */
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo góc */
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
    cursor: pointer; /* Hiệu ứng con trỏ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

#capture-btn:hover {
    background-color: #3d85c6; /* Màu nền khi hover */
}